html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#282726, transparent 0%), linear-gradient(0deg, #F2F2F2, transparent 80%), #282726;
  line-height: 1.5; }
  body a {
    text-decoration: none;
    color: unset; }
  body .overlay .oodridge {
    font-size: 2rem;
    color: #0E577B; }
    body .overlay .oodridge .io {
      letter-spacing: 3px; }
  body .js-disabled {
    background-color: #f7df1e;
    border-radius: 50%;
    cursor: pointer; }
  @media (min-width: 650px) {
    body .overlay .oodridge {
      font-size: 2.5rem; } }
  @media (min-width: 1024px) {
    body {
      background: linear-gradient(#282726, transparent 0%), linear-gradient(0deg, #F2F2F2, transparent 65%), #272727; }
      body .vl {
        color: #8E8E8E; }
      body .vl:after {
        background-color: #8E8E8E; }
      body .fixed-icon {
        fill: #8E8E8E; }
      body .vl-right a {
        writing-mode: vertical-rl;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: .8rem; } }
  @media (min-width: 1200px) {
    body {
      background: linear-gradient(#282726, transparent 0%), linear-gradient(0deg, #F2F2F2, transparent 70%), #272727; } }

header .logo {
  fill: #0E577B; }
header .oodridge {
  font-size: 1.5rem;
  color: #1377a9; }

nav {
  color: #8E8E8E;
  background-color: #062636; }
  nav .nav-icons {
    fill: #8E8E8E; }
  @media (min-width: 1024px) {
    nav {
      background-color: unset; }
      nav .head-resume {
        border: 2px #0E577B solid;
        color: #0E577B; } }

.overlay-active {
  background-color: #282726;
  opacity: .97;
  display: unset !important; }

#intro .intro-content {
  max-width: 600px; }
#intro h1 {
  color: #F2F2F2;
  font-size: 10vw; }
#intro .intro-hello {
  color: #0E577B;
  font-size: 1rem;
  font-weight: bold; }
#intro .job-title, #intro .intro-continue {
  color: #8E8E8E; }
#intro .intro-continue {
  font-size: 3.5rem; }
@media (min-width: 650px) {
  #intro h1 {
    font-size: 7vw; } }
@media (min-width: 1024px) {
  #intro h1 {
    font-size: 3.5rem !important; } }
@media (min-width: 1024px) {
  #intro h1 {
    font-size: 2.5rem !important; } }

.about {
  border-bottom: 5px #0E577B solid;
  color: #F2F2F2;
  text-align: center;
  position: relative; }
  .about .about-greeting {
    font-size: 2rem;
    font-weight: bold; }

.resume {
  text-align: center;
  color: #F2F2F2; }
  .resume .resume-button {
    border: 2px #F2F2F2 solid; }
    .resume .resume-button span {
      font-size: 1.5rem; }

#portfolio {
  text-align: center; }
  #portfolio .portfolio-title {
    color: #282726;
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    z-index: 1; }
    @media (min-width: 768px) {
      #portfolio .portfolio-title {
        font-size: 3.5rem; } }
  #portfolio .portfolio-description {
    font-size: 1.2rem; }
    #portfolio .portfolio-description a {
      color: #0E577B;
      font-weight: bold; }
  #portfolio .project {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19); }
  #portfolio .project-title {
    font-weight: normal;
    font-size: 1.5rem; }
  #portfolio .lang-used {
    font-size: .7rem;
    font-weight: bold; }
  #portfolio .project-un {
    background-image: linear-gradient(to right, #4d4b72, #6e6c9e);
    color: #282726; }
    #portfolio .project-un .project-image, #portfolio .project-un .project-icon {
      fill: #282726; }
    #portfolio .project-un .divider {
      background-color: #282726; }
  #portfolio .project-deux {
    background-image: linear-gradient(to right, #282726, #353432);
    color: #8E8E8E; }
    #portfolio .project-deux .project-image, #portfolio .project-deux .project-icon {
      fill: #8E8E8E; }
    #portfolio .project-deux .divider {
      background-color: #8E8E8E; }
  #portfolio .project-trois {
    background-image: linear-gradient(to right, #546d67, #94ada6);
    color: #282726; }
    #portfolio .project-trois .project-image, #portfolio .project-trois .project-icon {
      fill: #282726; }
    #portfolio .project-trois .divider {
      background-color: #282726; }
  #portfolio .project-quatre {
    background-image: linear-gradient(to right, #c5a5a5, #d9c4c4);
    color: #282726; }
    #portfolio .project-quatre .project-image, #portfolio .project-quatre .project-icon {
      fill: #282726; }
    #portfolio .project-quatre .divider {
      background-color: #282726; }
  #portfolio .project-cinq {
    background-image: linear-gradient(to right, #2d682f, #449d48);
    color: #282726; }
    #portfolio .project-cinq .project-image, #portfolio .project-cinq .project-icon {
      fill: #282726; }
    #portfolio .project-cinq .divider {
      background-color: #282726; }
  #portfolio .project-six {
    background-image: linear-gradient(to right, #061a1e, #6a8a82);
    color: #8E8E8E; }
    #portfolio .project-six .project-title {
      color: #F2F2F2; }
      #portfolio .project-six .project-title span {
        color: #ffe675; }
    #portfolio .project-six .circle-logo .logo-top-left-color {
      fill: #186572; }
    #portfolio .project-six .circle-logo .logo-top-left-shade {
      fill: #020809; }
    #portfolio .project-six .circle-logo .logo-top-right-color {
      fill: #6a8a82; }
    #portfolio .project-six .circle-logo .logo-top-right-shade {
      fill: #33423e; }
    #portfolio .project-six .circle-logo .logo-bottom-right-color {
      fill: #ffe675; }
    #portfolio .project-six .circle-logo .logo-bottom-right-shade {
      fill: #f5c800; }
    #portfolio .project-six .circle-logo .logo-bottom-left-color {
      fill: #ff6e88; }
    #portfolio .project-six .circle-logo .logo-bottom-left-shade {
      fill: #ee002b; }
  #portfolio .see-more a {
    color: #0E577B; }
  @media (min-width: 768px) {
    #portfolio .project-trois {
      background-position: right !important; } }
  @media (min-width: 1024px) {
    #portfolio .project {
      box-shadow: unset; } }

#contact .contact {
  color: #F2F2F2;
  background-image: linear-gradient(#1f4954, black); }
#contact .contact-title {
  color: #282726;
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
  z-index: 1; }
  @media (min-width: 768px) {
    #contact .contact-title {
      font-size: 3.5rem; } }
#contact .contact-email {
  font-size: 1.5rem; }
#contact h1 {
  font-size: 1rem;
  font-weight: normal; }
#contact .contact-icon {
  fill: #F2F2F2; }
#contact .contact-image {
  background-image: url("../media/sam.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
@media (min-width: 650px) {
  #contact .contact-image {
    background-position: center; } }
@media (min-width: 768px) {
  #contact .contact {
    background-image: linear-gradient(to right, #1f4954, black); } }

footer {
  color: #8E8E8E; }
  footer .copyright {
    font-size: .8rem; }
  footer .foot-icon {
    fill: #8E8E8E; }

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  outline: none;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #8E8E8E; }

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 2px;
  background-color: #0E577B;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.fixed-icon, .vl-right a {
  transition: .3s; }

.fixed-icon-link:hover .fixed-icon {
  fill: #0E577B !important;
  transform: scale(1.3); }

.vl-right a:hover {
  color: #0E577B !important;
  transform: scale(1.1); }

header {
  transition: .5s; }

@media (min-width: 1024px) {
  .glogo:hover .logo {
    fill: #1377a9; }
  .glogo:hover .oodridge {
    top: -10px !important; } }

nav, .oodridge {
  transition: .5s ease; }

nav a:hover {
  color: #F2F2F2;
  fill: #F2F2F2; }
@media (min-width: 1024px) {
  nav a:hover {
    color: #0E577B; }
  nav .head-resume:hover {
    border-color: #1377a9;
    color: #1377a9; } }

.intro-continue {
  transform: translateX(-50%);
  animation: fadein 1s ease-in alternate infinite; }

.resume-button span {
  animation: fadein 5s ease-in alternate infinite; }

.divider, .project-title {
  transition: .2s; }

.image, .project-links, .see-more a {
  transition: .5s; }

.project:hover .project-wrapper .project-title {
  margin: 0 0 33px 0 !important; }
.project:hover .divider {
  max-width: 50px !important; }
.project:hover .image {
  transform: rotate(2deg); }
.project:hover .project-links {
  right: 25px !important; }

.see-more a:hover {
  color: #1377a9 !important;
  text-decoration: underline; }

/* width */
::-webkit-scrollbar {
  width: 2px; }

/* Track */
::-webkit-scrollbar-track {
  background: #F2F2F2; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0E577B; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #39afe9; }

::selection {
  background: #1377a9;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #1377a9;
  /* Gecko Browsers */ }

@keyframes fadein {
  0% {
    opacity: .3; }
  100%, 90% {
    opacity: 1; } }
body {
  min-width: 350px; }
  body .vl {
    display: none; }
  body .js-disabled {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 10;
    width: 10px;
    height: 10px; }
  body .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
    touch-action: none;
    width: 100%;
    height: 100%;
    z-index: 2; }
    body .overlay .oodridge {
      position: absolute;
      top: 35px;
      left: 25px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    body .overlay .io {
      position: absolute;
      bottom: 0;
      right: -50px; }
  @media (min-width: 650px) {
    body .overlay .oodridge {
      top: 30px;
      left: 20px; }
    body .overlay .io {
      right: -65px; } }
  @media (min-width: 1024px) {
    body .vl {
      display: unset;
      position: fixed;
      bottom: 0; }
    body .vl:after {
      content: "";
      display: block;
      width: 2px;
      height: 80px;
      margin: 0 auto; }
    body .vl-left {
      left: 60px; }
      body .vl-left .fixed-icon-link {
        width: 20px;
        height: 20px;
        padding: 10px;
        margin: 10px;
        display: block; }
    body .vl-right {
      right: 60px; }
      body .vl-right a {
        margin: 0 0 20px 0; } }

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 70px; }
  header .glogo {
    width: 40px;
    height: 40px;
    left: 15px; }
    header .glogo .logo {
      width: 100%;
      height: 100%;
      stroke-dasharray: 11700;
      stroke-dashoffset: 11700; }
    header .glogo .oodridge {
      display: none; }
  header .glogo, header .burger {
    position: absolute;
    top: 15px; }
  header .burger {
    right: 0;
    padding: 15px;
    z-index: 2; }
  header nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5% 0 0 0;
    z-index: 1;
    width: 0;
    height: calc(100vh - 5%);
    text-align: center; }
    header nav li, header nav .nav-icons {
      margin: 40px auto 20px auto;
      width: min-content;
      text-align: center; }
    header nav hr {
      width: 60%;
      max-width: 100px;
      margin: 0 auto; }
    header nav .nav-icons {
      display: block; }
      header nav .nav-icons .nav-icon {
        width: 30px;
        height: 30px; }
  @media (min-width: 1024px) {
    header .burger, header hr, header .nav-social {
      display: none; }
    header .glogo {
      top: 20px;
      left: 60px; }
      header .glogo .oodridge {
        position: absolute;
        top: -400px;
        left: 45px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center; }
    header nav {
      display: flex;
      align-items: center;
      position: absolute;
      top: 30px;
      right: 60px;
      padding: unset;
      width: unset;
      height: unset;
      min-height: unset;
      margin: 0 0 0 auto; }
    header li {
      display: inline;
      margin: 0 0 0 40px !important; }
    header .head-resume {
      padding: 10px 25px;
      border-radius: 5px;
      margin-right: unset; } }

.menu-expanded {
  width: 60%;
  touch-action: none; }

#intro {
  flex-flow: column;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  #intro .intro .intro-content {
    margin: 0 0 20px 0;
    position: relative; }
    #intro .intro .intro-content h1 {
      margin: 0;
      padding: 0 0 0 20px; }
  #intro .intro .intro-continue {
    transform: rotate(90deg);
    position: absolute;
    bottom: -60%;
    left: 43%;
    z-index: 2; }
  @media (min-width: 768px) {
    #intro .intro-content h1 {
      padding: unset !important; } }

#about {
  margin-top: 100px; }
  #about .about {
    width: 90%;
    margin: 50px auto 0 auto;
    padding: 50px 0; }
    #about .about .about-greeting {
      margin: 20px auto; }
    #about .about .about-me {
      width: 85%;
      max-width: 600px;
      margin: 0 auto; }
    @media (min-width: 1024px) {
      #about .about {
        padding: 200px 0 50px 0;
        width: 75% !important;
        max-width: 1000px; } }

#resume {
  margin-bottom: 100px; }
  #resume .resume {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0; }
  #resume .resume-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    max-width: 280px;
    border-radius: 5px;
    margin: 25px auto;
    padding: 5px 25px; }
  @media (min-width: 768px) {
    #resume a {
      margin: 25px auto 50px auto !important; } }
  @media (min-width: 1024px) {
    #resume .resume {
      width: 75% !important;
      max-width: 1000px; }
    #resume a {
      margin: 25px auto 75px auto !important; } }

#portfolio {
  margin: 125px 0 125px 0; }
  #portfolio .projects {
    margin: 0 auto;
    width: 90%;
    padding: 100px 0 50px 0;
    position: relative; }
    #portfolio .projects .portfolio-title {
      position: absolute;
      top: 50px;
      left: 3%; }
    #portfolio .projects .project {
      width: 100%;
      min-height: 550px;
      max-height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
    #portfolio .projects .project-title {
      margin: 0 0 20px 0; }
    #portfolio .projects .project-un {
      border-radius: 0 20px 0 0; }
    #portfolio .projects .project-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;
      max-width: 450px; }
      #portfolio .projects .project-wrapper .project-image {
        width: 50px;
        height: 50px; }
      #portfolio .projects .project-wrapper .divider {
        width: 20%;
        max-width: 40px;
        height: 3px;
        margin: 20px 0; }
      #portfolio .projects .project-wrapper .lang-used li {
        display: inline;
        margin: 0 10px; }
    #portfolio .projects .project-links {
      position: absolute;
      bottom: 10px;
      right: 20px; }
      #portfolio .projects .project-links .project-icon {
        width: 30px;
        height: 30px;
        margin: 0 0 0 10px; }
  #portfolio .see-more {
    margin: 25px auto 0 auto;
    width: 75%;
    max-width: 400px; }
  @media (min-width: 768px) {
    #portfolio .project {
      max-height: 450px !important;
      min-height: 450px !important; } }
  @media (min-width: 1024px) {
    #portfolio .projects {
      display: flex;
      flex-wrap: wrap;
      width: 75% !important;
      max-width: 1000px; }
    #portfolio .project-un, #portfolio .project-six {
      width: 100% !important; }
    #portfolio .project-deux, #portfolio .project-trois, #portfolio .project-quatre, #portfolio .project-cinq {
      width: 50% !important; }
    #portfolio .see-more-button {
      margin: 25px auto 0 auto; } }

.is-active {
  display: unset !important; }

#contact {
  width: 90%;
  margin: 165px auto 0 auto;
  padding: 135px 0 0 0;
  border-radius: 0 20px 20px 20px; }
  #contact .contact-title {
    position: absolute;
    top: -50px;
    left: 3%; }
  #contact .contact {
    padding: 100px 0 50px;
    position: relative; }
  #contact .contact-email, #contact p, #contact .my-info {
    width: 65%;
    max-width: 205px; }
  #contact .contact-email {
    margin: 10px 0 40px 0; }
  #contact .contact-wrapper {
    padding: 0 0 0 25px; }
  #contact hr {
    width: 20%;
    margin: 0 auto 0 0; }
  #contact .my-info {
    margin: 20px 0 40px 0; }
    #contact .my-info h1, #contact .my-info p {
      margin: 0; }
  #contact .contact-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 150px; }
    #contact .contact-social-icons .contact-icon {
      width: 22px;
      height: 22px; }
  #contact .contact-image {
    height: 30vh;
    margin: 0 auto; }
  @media (min-width: 650px) {
    #contact .contact-email, #contact p, #contact .my-info {
      max-width: 300px; } }
  @media (min-width: 768px) {
    #contact {
      padding: 0;
      border-radius: 0 20px 0 0;
      display: flex;
      flex-wrap: wrap; }
      #contact .contact-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column; }
      #contact .contact-email, #contact p, #contact .my-info {
        max-width: 350px; }
      #contact .contact-image {
        height: unset;
        border-radius: 0 20px 0 0; }
      #contact .contact {
        padding: 50px 0; }
      #contact .contact, #contact .contact-image {
        width: 50%;
        min-height: calc( 45vh - 100px ); } }
  @media (min-width: 1024px) {
    #contact {
      width: 75% !important;
      max-width: 1000px; }
      #contact .mail-link, #contact .contact-email, #contact p, #contact .my-info {
        max-width: max-content; }
      #contact .contact-social-icons {
        display: none; } }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  height: 80px;
  max-height: 80px; }
  footer a {
    margin: 0 0 0 5px; }
  @media (min-width: 1024px) {
    footer {
      width: 75% !important;
      max-width: 1000px; } }

/*# sourceMappingURL=styles.css.map */
