//Theme Colors
$color-theme1: #0E577B;
$color-theme2: #6a8a82;
$color-theme3: #4d4b72;
$color-theme4: #4caf50;

$color-theme5: #525B56;
$color-theme6: #1f4954;
$color-theme7: #EDE3E3;

// Portfolio logo(s)
$color-theme8: #186572;
$color-theme9: #6a8a82;
$color-theme10: #ffe675;
$color-theme11: #ff6e88;

// Global colors
$color-primary: #282726;

$color-dark: #282726;
$color-medium: #8E8E8E;
$color-light: #F2F2F2;

//SVG
$color-linkedin: #0e76a8;
$color-github: #8E8E8E;
$color-html: #e34f26;
$color-css: #2965f1;
$color-sass: #c69;
$color-js: #f7df1e;
$color-jQ: #0769ad;

//fonts
$font-primary: 'Poppins', sans-serif;

//Media Query Sizes
$breakpoints: (
        "xs": 360px,
        "s": 650px,
        "m": 768px,
        "l": 1024px,
        "xl": 1200px
);