 #intro {
  flex-flow: column;
   height: 100vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   //wrapper
   .intro {
     .intro-content {
       margin: 0 0 20px 0;
       position: relative;
       //name + job title
       h1 {
         margin: 0;
         padding: 0 0 0 20px;
       }
     }
     // animated bottom arrow
     .intro-continue {
       transform: rotate(90deg);
       position: absolute;
       bottom: -60%;
       left: 43%;
       z-index: 2;
     }
   }
   @include mq("m") {
       .intro-content {
         h1 {
           padding: unset!important;
         }
       }
   }
}